$themes: (
    light:(
        text:#000,
        bg:white,
        logo:darkblue,
        bgsoft: #f6f3f3,
        textsoft: #555,
        border:lightgray,
    ),
    dark:(
        text:whitesmoke,
        bg:#222,
        logo:white,
        bgsoft: #333,
        textsoft: lightgray,
        border: #444,
    ))